<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <a class="btn btn-ghost text-xl">
        <div class="border-1 bg-secondary logo p-2 rounded-xl" routerLink="/">
          EC
        </div>
      </a>
    </div>
  </div>
  <div class="navbar-center flex">
    <div class="menu menu-sm sm:menu-lg menu-horizontal px-1">
      <li><a href="/">Home</a></li>
      <li>
        <details #productsMenu>
          <summary>Products</summary>
          <ul class="z-30">
            <!-- @if (categoryQuery.isSuccess() && categoryQuery.data()) { @for
            (category of categoryQuery.data().content; track category.publicId)
            {
            <li>
              <a
                [routerLink]="['products']"
                [queryParams]="{ category: category.publicId }"
                (click)="closeMenu(productsMenu)"
                (clickOutside)="closeMenu(productsMenu)"
                >{{ category.name }}</a
              >
            </li>
            } 
            } -->
          </ul>
        </details>
      </li>
      <li>
        <details #adminMenu>
          <summary>Admin</summary>
          <ul class="z-30">
            <!-- <li>
              <a
                routerLink="admin/categories/list"
                (click)="closeMenu(adminMenu)"
                (clickOutside)="closeMenu(adminMenu)"
                >Categories</a
              >
            </li> -->
            <!-- <li>
              <a
                routerLink="admin/products/list"
                (click)="closeMenu(adminMenu)"
                (clickOutside)="closeMenu(adminMenu)"
                >Products</a
              >
            </li>
            <li>
              <a
                routerLink="admin/orders/list"
                (click)="closeMenu(adminMenu)"
                (clickOutside)="closeMenu(adminMenu)"
                >Orders</a
              >
            </li> -->
          </ul>
        </details>
      </li>
    </div>
  </div>
</div>
